.sidebar{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    font-size: 10px;
    background-color: white;
    z-index: 101;
}

.home-button{
    width: 100%;
    height: 75px;
    cursor: pointer;
    background-color: white;
}

.home-img{
    height: 25px;
    width: 40px;
    align-items: center;
}

.home-button:hover{
    background-color: rgb(243, 243, 243);
}

.explore-button{
    width: 100%;
    height: 75px;
    cursor: pointer;
    background-color: white;
}

.explore-button:hover{
    background-color:rgb(243, 243, 243);
}

.explore-img{
    height: 25px;
    width: 40px;
    align-items: center;
}

.subscriptions-button{
    width: 100%;
    height: 75px;
    background-color: white;
}

.subscriptions-button:hover{
    background-color: rgb(243, 243, 243);
}

.subscriptions-img{
    height: 25px;
    width: 40px;
}

.originals-button{
    width: 100%;
    height: 75px;
    background-color: white;
}

.originals-button:hover{
    background-color:rgb(243, 243, 243);
}

.originals-img{
    height: 25px;
    width: 40px;
}

.music-button{
    width: 100%;
    height: 75px;
    background-color: white;
}

.music-button:hover{
    width: 100%;
    height: 75px;
    background-color:rgb(243, 243, 243);
}

.music-img{
    height: 25px;
    width: 40px;
}

.library-button{
    width: 100%;
    height: 75px;
    background-color: white;
}

.library-button:hover{
    width: 100%;
    height: 75px;
    background-color:rgb(243, 243, 243);
}

.library-img{
    height: 25px;
    width: 40px;
}